player-connection-mode=Listen
player-connection-guid=41369904
player-connection-debug=0
player-connection-project-name=3d test multiplayer
player-connection-ip=192.168.1.231
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=d30a6dbe989e4cfc9dda8b3cdc00e76c
